
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
}
h1 {
  margin: 0 auto;
  font-family: 'Parisienne', cursive;
  font-size: 80px;
  color: #00bcd4;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
hr {
  width: 15%;
  border-style: dotted none none;
  border-color: blue;
  border-width: 5px;
}
a:link{
  text-decoration: none;
}
.topcontainer {
  background: linear-gradient(#cff1ef,#ffecc7);
  position: relative;
  padding-top: 150px;
}
.profile-img {
  height: 80px;
  width: 80px;
  background: linear-gradient(white,#beebe9);
  border-radius: 100%;
  position: absolute;
  top: 50px;
  left: 150px;
}
.pro {
  text-decoration: underline;
}
.middle-container {
  width: 40%;
  margin: 0 auto;
}
.profile img {
  border-radius: 10%;
  height: 250px;
  width: 250px;
}
.programming {
  width: 250px;
  height: 250px;
}
.graphics{
  width: 440px;
  height: 250px;
}
.btn {
  border-radius: 15px 3px 15px 3px;
  background: linear-gradient(90deg,#ffaaa5,#f5fcc1,#baf1a1);
  padding: 10px 20px 10px 20px;
}
.btn:hover {
  background: #f8e1f4;
  color: #d7385e;
}
.btn:link {
  color: #005082;
}
.btn:visited {
  color: #005082;
}
.bottom-container {
  padding-top: 50px;
  margin: 0;
}
.footer-link a:link {
  color: #005082;
}
.footer-link a:visited {
  color: #005082;
}
.footer-link1 {
  background-color: #ffaaa5;
  padding: 10px 20px;
  border-radius: 3px 15px 15px 3px;
}
.footer-link1:hover {
  background-color: #f8e1f4;
  color: #d7385e;
}
.footer-link2 {
  background-color: #f5fcc1;
  padding: 10px 20px;
  border-radius: 15px 15px 15px 15px;
}
.footer-link2:hover {
  background-color: #f8e1f4;
  color: #d7385e;
}
.footer-link3 {
  background-color: #baf1a1;
  padding: 10px 20px;
  border-radius: 15px 3px 3px 15px;
}
.footer-link3:hover {
  background-color: #f8e1f4;
  color: #d7385e;
}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 350px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
