
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
}
h1 {
  margin: 0 auto;
  font-family: 'Parisienne', cursive;
  font-size: 80px;
  color: #00bcd4;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
hr {
  width: 15%;
  border-style: dotted none none;
  border-color: blue;
  border-width: 5px;
}
.topcontainer {
  background: linear-gradient(#cff1ef,#ffecc7);
  position: relative;
  padding-top: 150px;
}
.pro {
  text-decoration: underline;
}
.middle-container {
  width: 40%;
  margin: 0 auto;
}
.profile img {
  border-radius: 10%;
  height: 250px;
  width: 250px;
}
.programming {
  width: 250px;
  height: 250px;
}
.graphics{
  width: 440px;
  height: 250px;
}
.bottom-container {
  width: 40%;
  margin: 0 auto;
}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 350px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
